<app-header titulo="Grid"></app-header>

<ion-content class="ion-padding" fullscreen>
    <ion-grid fixed>

        <!-- <ion-row>

            <ion-col *ngFor="let c of [1,2,3,4,5,6,7,8,9,10,11,12];let i = index">
                {{ i + 1 }}
            </ion-col>

        </ion-row> -->

        <ion-row>
            
            <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
                *ngFor="let c of [1,2,3,4,5,6,7,8,9,10,11,12];let i = index">

                <ion-card>

                    <ion-img src="assets/shapes.svg"></ion-img>

                    <ion-card-header>
                        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                        <ion-card-title>Card title</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quaerat sapiente porro eaque quasi alias. Magnam alias, nesciunt fuga tempora, pariatur dolorem error aut reiciendis cum accusantium, cumque dolor consequuntur?
                    </ion-card-content>

                </ion-card>

            </ion-col>

        </ion-row>

    </ion-grid>
</ion-content>
