<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="toggleMenu()">
                <ion-icon color="primary" slot="icon-only" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title color="primary">Componentes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-list>

        <ion-item *ngFor="let data of components | async" [routerLink]="data.redirectTo" detail>

            <ion-icon color="primary" slot="start" [name]="data.icon"></ion-icon>
            <ion-label>{{ data.name }}</ion-label>

        </ion-item>

    </ion-list>
<!-- 
    <ion-button routerLink="/alert">
        Alert
    </ion-button>

    <ion-button routerLink="/action-sheet">
        Action Sheet
    </ion-button> -->

</ion-content>
