<ion-header class="ion-no-border ion-translucent" translucent>
    <ion-toolbar>

        <ion-buttons slot="start">

            <ion-back-button defaultHref="/" text="Regresar"></ion-back-button>

        </ion-buttons>

        <ion-title class="ion-text-capitalize">Lista reorder</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>

        <ion-reorder-group  [disabled]="false" (ionItemReorder)="reorder($event)">

            <ion-item *ngFor="let item of personajes">
                <ion-label>{{ item }}</ion-label>
                <ion-reorder slot="end"></ion-reorder>
            </ion-item>

        </ion-reorder-group>

    </ion-list>

    <ion-button (click)="onClick()" expand="full">
        Guardar
    </ion-button>
</ion-content>
